<div class="card"><img src="/anime/eb0r8a9w.jpg" />
    <span class="status" c='complete'>
        اتمام پخش
    </span>
    <span class="score">
        <i class="bi bi-star-fill"></i>
        9.86
    </span>
    <span class="seen">
        <i class="bi bi-eye-fill" ></i>
          0000
    </span>
    <span class="resolution">
        <i class="bi bi-tv-fill" ></i>
        1080p
    </span>
    <h2 class="title">Attack on titan </h2>
    <div class="info">
        <h2>Attack on Titan : final episode whatever</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis maxime iure excepturi suscipit! Sint voluptatum impedit id doloremque iste! Voluptas libero porro, qui voluptatum dolorem recusandae doloribus repellat dolore repudiandae?</p>
        <!-- <button>Read More</button> -->
    </div>
</div>